/* Your SCSS here. */


html,body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    background-image: url("/assets/bg.jpg");
    background-attachment: fixed;
    animation-name: fadein;
    animation-duration: 2s;
}


#navbar {
	display: flex;
	position: fixed;
	top: 0;
	list-style-type: none;
	overflow: hidden;
	width: 100%;
	background-color: #1f1e1c;
	height: 20%;
	margin: 0;
	padding: 0;
	justify-content: space-evenly;
	align-items: center;
    z-index: 100;
}

#navbar li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	display: inline-block;
    font-size: 3em;
}


#carousel {
    position:relative;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background-color: darkslategrey;
    justify-content: center;
    height: 800px;
}

#slides > div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    overflow-x: hidden;
    position:absolute;
    height: 540px;
    width: 910px;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6em;
    color: white;
    text-align: center;
    justify-content: center;
    -webkit-text-stroke: 1px black;
}

#carousel > a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    color: white;
}

#prev {
    left:10%;
}

#next {
    right:10%;
}

#slide-1 {
    background-image: url("/assets/programming.jpg");
    opacity: 1;
}

#slide-2 {
    background-image: url("/assets/boardgames.jpg");
    opacity: 0;
}

#slide-3 {
    background-image: url("/assets/guitar.jpg");
    opacity: 0;
}

.footer {
    display: flex;
    width:100%;
    bottom: 0;
    height: 200px;
    background-color: #1f1e1c;
    justify-content: space-evenly;
    align-items: center;
}

.footer > div {
    color: white;
    font-size: 3em;
}

.info {
    display: flex;
    height:1000px;
    font-size: 4em;
    width:100%;
    color: white;
    justify-content: space-around;  
    align-items: center;
}

.grid {
    padding: 50px;
    display:grid;    
    background-color: beige;
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    grid-template-rows: 500px 500px;
    grid-gap: 50px
}

.grid > div {
    font-size: 5em;
    color: orange;
}

.item {
    padding: 50px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal > video {
    display: none;
    position: fixed;
    height: 80%;
    width: 80%;
    z-index: 102;
}

.modal {
    display: none;
    position: fixed;
    height: 80%;
    width:80%;
    margin: 5% 10%;
    background-color: darkslategrey;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.modal > i {
    position:absolute;
    color: red;
    right:0px;
    top:0px;
    z-index: 102;
    font-size: 10vh;
}

@media screen and (max-width: 1280px) {
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: 500px 500px 500px 500px;
    }

    #prev {
        left:10px;
    }

    #next {
        right:10px;
    }
}